<div class="container">
    <h2> You are searching spots in {{city}}</h2>
    <div class="flex">
        <h3 (click)="portland()">Portland</h3>
        <h3 (click)="brooklyn()">Broolyn</h3>
    </div>
    <div class="grid grid-pad">
        <a *ngFor="let hero of heroes" [routerLink]="['/spot', hero.id, hero.city]" >
            {{hero.name}}
        </a>
        <!-- <ngui-map center="{{city}}">
                <marker *ngFor="let hero of heroes" [position]="hero.latlong" (click)="clicked($event)">
                <info-window id="iw">
                  <div >
                    <a [routerLink]="['/spot', hero.id, hero.city]">
                      <h4>{{hero.name}}</h4>
                      {{hero.city}}
                      <br>
                      {{hero.desc}}
                    </a>
                  </div>
              </info-window>
              </marker>
         </ngui-map> -->

         <agm-map [latitude]="lat" [longitude]="lng">
             <!-- <a *ngFor="let hero of heroes" [routerLink]="['/spot', hero.id, hero.city]"> -->
              <agm-marker *ngFor="let hero of heroes" [routerLink]="['/spot', hero.id, hero.city]" [latitude]="hero.lat" [longitude]="hero.long">
                  <!-- <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                  <ng-template>
                    My first Snazzy Info Window!
                  </ng-template>
                </agm-snazzy-info-window> -->
            </agm-marker>
        <!-- </a> -->
        </agm-map>
    </div>
</div>
